<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707478664593-i57n242ukaq5h6sq966rca5omdfrd558.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707478664593-i57n242ukaq5h6sq966rca5omdfrd558</string>
	<key>API_KEY</key>
	<string>AIzaSyDi5O4SNUUQuOLfDrRFOSZo1ipGFr5l4Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>707478664593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnfirebase</string>
	<key>PROJECT_ID</key>
	<string>rnfirebasekodluyoruz</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebasekodluyoruz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707478664593:ios:11e5546eb88312ab951630</string>
</dict>
</plist>